{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"rules": {
		"arrow-body-style": 0,
		"max-len": 0,
		"global-require": 0
	},
	"env": {
		"jest": true,
		"react-native/react-native": true
	},
	"parser": "babel-eslint",
	"plugins": [
		"react",
		"react-native"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	}
}
